version: '3.8'
services:
  migration:
    tty: true
    stdin_open: true
    image: thesis_migration
    build:
      dockerfile: Dockerfile_db_migration
    depends_on:
      mariadb:
        condition: service_healthy
    volumes:
      - ./MIGRATIONS:/app/MIGRATIONS  
    networks:
      logo-internal-network:
        ipv4_address: 10.110.1.13


  mariadb:
    image: mariadb:11.4.2-noble
    environment:
       MYSQL_ROOT_PASSWORD: root
       MYSQL_USER: server_access
       MYSQL_PASSWORD: test_password
    volumes:
        - ./docker/initSQL/:/docker-entrypoint-initdb.d/
        - ./DbData/:/var/lib/mysql/
    restart: unless-stopped
    healthcheck:
      test: [ "CMD", "healthcheck.sh", "--connect", "--innodb_initialized" ]
      start_period: 1m
      start_interval: 10s
      interval: 1m
      timeout: 5s
      retries: 3
    networks:
      logo-internal-network:
        ipv4_address: 10.110.1.11

    ports:
      - "3306:3306"

  thesis:
    tty: true
    stdin_open: true
    image: logo
    build:
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    # volumes:
    #   - ./LogoBackend/Data:/app/Data
    environment:
      - ASPNETCORE_URLS=http://[..]:8000
    restart: unless-stopped
    depends_on:
      migration:
        condition: service_completed_successfully
      mariadb:
        condition: service_started
    networks:
      logo-internal-network:
        ipv4_address: 10.110.1.12



networks:
  logo-internal-network:
    name: logo_internal_network
    driver: bridge
    ipam:
      config:
        - subnet: 10.110.0.0/16
          gateway: 10.110.0.1
