version: '3.8'
services:
  migration:
    tty: true
    stdin_open: true
    image: thesis_migration
    build:
      dockerfile: Dockerfile_db_migration
      args:
        - MYSQL_USER=${MYSQL_USER}
        - MYSQL_PASSWORD=${MYSQL_PASSWORD}
        - DB_IP=${DB_IP}
    depends_on:
      mariadb:
        condition: service_healthy
    volumes:
      - ./MIGRATIONS:/app/MIGRATIONS  
    networks:
      thesis-internal-network:
        ipv4_address: ${MIGRATION_IP}


  mariadb:
    image: mariadb:11.4.2-noble
    environment:
       MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
       MYSQL_USER: ${MYSQL_USER}
       MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    volumes:
        - ./docker/initSQL/:/docker-entrypoint-initdb.d/
        # - ./DbData/:/var/lib/mysql/
    healthcheck:
      test: [ "CMD", "healthcheck.sh", "--connect", "--innodb_initialized" ]
      start_period: 1m
      start_interval: 10s
      interval: 1m
      timeout: 5s
      retries: 3
    networks:
      thesis-internal-network:
        ipv4_address: ${DB_IP}
    ports:
      - "3306:3306"

networks:
  thesis-internal-network:
    name: thesis_internal_network
    driver: bridge
    ipam:
      config:
        - subnet: ${SUBNET}
          gateway: ${GATEWAY}